<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Charts App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pie">Pie </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="donut">Donut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="line">Line</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exportAll">Export All</a>
        </li>


      </ul>

    </div>
  </div>
</nav>

